@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Outfit:wght@100..900&display=swap');

body{
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  background-color: crimson;
  min-height: 100vh;
}